@import (reference) '../../styles/index.less';

.tagCard {
	text-align: center;
	margin-top: 20px;
	border-radius: 2px;
	height: 100%;
	box-shadow: rgba(167, 167, 167, 0.22) -1px 4px 9px 3px;

	color: rgba(0, 0, 0, 0.85);
	.tagImg {
		width: 100%;
		height: 250px;
		border-radius: 2px 2px 0 0;
	}
	.pd20px {
		padding: 20px;
	}
	.name {
		color: rgba(0, 0, 0, 0.85);
		padding: 0.6rem 1rem;
		text-transform: uppercase;
		font-size: 1.2em;
		letter-spacing: 0.2em;
	}
	.verticalBar {
		color: #ff965d;
		margin: 0 10px;
	}
	.down {
		color: #3ebbef;
		&:hover {
			color: #3097c1;
		}
	}
}
